body#gsr.hp.vasq{
 background-image: url("https://cloud.githubusercontent.com/assets/9266813/25314537/bf74ce38-2863-11e7-8600-7f70f0d2bdde.png");
}
div.gb_xe.gb_R.gb_Me.gb_Ee {
 font-weight: bold;
 font-size: 15px;
}